body {

    background-color: rgb(253, 251, 251);

    
}

#cabecalho {

    background-color: green;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 3px;
    font-size: 17.5px;
    padding: 8px;
    position: fixed;
    top: 0px;

}

#nav {
    
    background-color: grey;
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;

    border-style: solid;
    border-radius: 15px;
    border-color: green;
}

#minha_foto {
    
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}